body {
  background-color: #E3FDFD;
}
hr {
  background-color: #E3FDFD;
  border-color: grey;
  border-top-style: dotted;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
  border-width: 5px;
  display: flex;
  height: 0px;
  width: 10%;

}

 h1{
   color: #66BFBF;
 }
h3{
  color: #66BFBF;
}
